#email, #name,#submit{
    display: block;
}
#email, #name{
     width:50vw;
     margin: auto;
}
#submit{
    padding:2px;
    margin: auto;
}
h3{
    margin: auto;
}
.form-container{
    border:2px solid black;
    border-radius:15px;
    height:70%;
}
.form-control{
    width:70%
}
::-webkit-input-placeholder {
    text-align: center;
 }